<h1>Welcome, {{user.username}}</h1>

<h1 class="title">Post your Review here!</h1>
<form id="reviewform">
  <span>Review Title:</span><br />
  <input type="text" id="reviewtitlecontent" />
  <br />
  <span>Content:</span>
  <textarea
    class="textarea is-small"
    id="reviewcontent"
    cols="5"
    rows="6"
    style="width: 20%;"
  ></textarea>
  <br />
  <button id="submitbtn" type="submit" class="button is-success">submit</button>
</form>

<main id="main" class="main">

{{#each user.Reviews}}
  <article class="media">
    <figure class="media-left">
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong></strong>{{review_title}}</strong>
          <br>
          <br />

          {{review_content}}

        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <small>{{user.createdAt}}</small>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
    <div class="media-right">
      <button class="delete delete-post" id="deletebtn" data-review-id={{id}}></button>
    </div>
  </article>
  {{/each}}
</main>

<script src="/js/profile.js"></script>